In [1]:
# run stopwatch
from _classes import Stopwatch
stopwatch = Stopwatch()
start = stopwatch.start()

### Load Saved Section if exists

if os.path.exists(f'sessions/{dir}'):
    load_session(dir)
else:
    print(f"No such session: 'sessions/{dir}'")

### Load libraries, functions, palette, theme

In [2]:
%run _load.ipynb

In [3]:
economics_data = loadit(
    'economics_data', 'data/00-Datasets/'
)

In [4]:
dir = '003.1-003.5_SOL-Income'

In [5]:
save_df = 'data/00-Datasets/'

In [6]:
save_excel = 'data/00-Excel-data/'

# <font color='#2C8B6D'>I. Население</font>

# Section II. Уровень жизни

## 3. Доходы, расходы и сбережения населения

*Источник: https://rosstat.gov.ru/folder/13397*

In [7]:
income_region_names_normalize_dict = {
    '    Ненецкий авт.округ': 'Ненецкий автономный округ (Архангельская область)',
    '    Ханты-Мансийский авт.округ': 'Ханты-Мансийский автономный округ - Югра (Тюменская область)',
    '    Ямало-Ненецкий авт.округ': 'Ямало-Ненецкий автономный округ (Тюменская область)',
    'Архангельская область   ': 'Архангельская область',
    'Белгородская область  ': 'Белгородская область',
    'Брянская область ': 'Брянская область',
    'Еврейская  авт.область': 'Еврейская автономная область',
    'Камчатский край   ': 'Камчатский край',
    'Кабардино-Балкарская  Республика': 'Кабардино-Балкарская Республика',
    'Карачаево-Черкесская  Республика': 'Карачаево-Черкесская Республика',
    'Кемеровская область': 'Кемеровская область - Кузбасс',
    'Костромская область ': 'Костромская область',
    'Красноярский край   ': 'Красноярский край',
    'Ленинградская область ':  'Ленинградская область',
    'Магаданская область ': 'Магаданская область',
    'Мурманская область   ': 'Мурманская область',
    'Нижегородская область ': 'Нижегородская область',
    'Пензенская область ': 'Пензенская область',
    'Пермский край ': 'Пермский край',
    'Псковская область   ': 'Псковская область',
    'Российская Федерация ': 'Российская Федерация',
    'Республика Адыгея  ': 'Республика Адыгея (Адыгея)',
    'Республика Марий Эл  ': 'Республика Марий Эл',
    'Республика  Северная Осетия - Алания': 'Республика Северная Осетия-Алания',
    'Республика Татарстан': 'Республика Татарстан (Татарстан)',
    'Ростовская область ': 'Ростовская область',
    'Сахалинская область   ': 'Сахалинская область',
    'Тамбовская область ': 'Тамбовская область',
    'Тюменская область   ': 'Тюменская область',
    'Чукотский  авт.округ': 'Чукотский автономный округ',
    'Ярославская область   ': 'Ярославская область',
    'г.Москва': 'Город Москва столица Российской Федерации город федерального значения',
    'г.Санкт-Петербург': 'Город Санкт-Петербург город федерального значения',
    'г.Севастополь': 'Город федерального значения Севастополь',
    'Чувашская Республика ': 'Чувашская Республика - Чувашия',
    'Хабаровский край ': 'Хабаровский край',
}

In [8]:
region_names_drop_list = [
     'Архангельская область без авт.округа',  'Тюменская область без авт.округов',
]

### 3.1. Среднедушевые денежные доходы населения по субъектам Российской Федерации (новая методология)

*Источник: https://rosstat.gov.ru/folder/13397*

#### <font color='#2A5899'>Income Per Capita</font>

In [9]:
income_pc_link = \
    'data/02-Population/02-Standard-of-living/01-Income/' \
    'Urov_10subg-nm.xlsx'

In [10]:
income_pc_raw = pd.read_excel(income_pc_link)

In [11]:
income_pc_raw

,"Среднедушевые денежные доходы населения по субъектам \nРоссийской федерации, руб./месяц *",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,(в соответствии с Методологическими положениям...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2013 год,NaN,NaN,NaN,NaN,2014 год,NaN,NaN,NaN,...,2022 год**,NaN,NaN,NaN,NaN,2023 год**,NaN,NaN,NaN,NaN
3,NaN,I квартал,II квартал,III квартал,IV квартал,2013 год,I квартал,II квартал,III квартал,IV квартал,...,I квартал,II квартал,III квартал,IV квартал,2022 год,I квартал,II квартал,III квартал,IV квартал,2023 год
4,Российская Федерация,21800,24990,25529,30533,25684.374666,22457,27059,27965,32285,...,37136,44168,44689,53428,44937,41709,47798,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Сахалинская область,34900,37268,37331,41319,37791.470002,35289,43024,45592,43434,...,63078,68415,70723,90521,73617,71307,74426,NaN,NaN,NaN
102,Еврейская авт.область,17314,20735,19411,23648,20412.731357,19308,21331,21254,24946,...,28959,33320,34217,42388,34969,35140,36724,NaN,NaN,NaN
103,Чукотский авт.округ,50547,54655,54356,62451,55624.812505,53552,60166,60464,65634,...,95018,113498,114746,128812,113096,112290,131588,NaN,NaN,NaN
104,* Без учета статистической информации по Донец...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,** Предварительные данные,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
income_pc = income_pc_raw.iloc[:-2, :].copy()

In [13]:
# transform year from '2013 год' to '2013'
income_pc = transform_strings_in_row(
    income_pc, 2, ' год', where='end')

In [14]:
# fill NaNs by previous value in header rows
income_pc = transform_fill_values_by_previous(income_pc, row_index=2)

In [15]:
# replace '2013 год' by 'Год'
income_pc = transform_string_replace_if_contains(
    income_pc, row_index=3, contains='год', replace='Год')

In [16]:
# make header from two rows
income_pc = transform_make_header_from_rows(
    income_pc, rows_index=[2,3], names=['Год', 'Квартал'])

In [17]:
# cut rows
income_pc = income_pc.drop([0, 1], axis=0)

In [18]:
# make column as index
income_pc = transform_column_as_index(data=income_pc, iloc=0)

In [19]:
# combine duplicates
income_pc = merge_two(
    how='index',
    data=income_pc,
    col1='Дальневосточный федеральный округ (до 2018г.)',
    col2='Дальневосточный федеральный округ (с 2018г.)',
    col_new='Дальневосточный федеральный округ'
)

In [20]:
income_pc = merge_two(
    how='index',
    data=income_pc,
    col1='Сибирский федеральный округ (до 2018г.)',
    col2='Сибирский федеральный округ (с 2018г.)',
    col_new='Сибирский федеральный округ'
)

In [21]:
income_pc = merge_two_similar('index', income_pc, 'Забайкальский край')
income_pc = merge_two_similar('index', income_pc, 'Республика Бурятия')

In [22]:
income_pc.index = [i.strip() for i in income_pc.index]

In [23]:
# normalize region names
income_pc.index = (income_pc
                   .index.to_series()
                   .replace(regions_replace_dict))

In [24]:
# cut unnesessary regions (as indexes of df)
drop_list_2111 = regions_drop_list + federal_districts_names_list
income_pc = transform_cut_with_list(
    income_pc, drop_list_2111, type='index', kind='drop')

In [25]:
income_pc.columns.names = (None, None)

In [26]:
# set positions of regions (indexes) as in 'regions_names_list'
income_pc = income_pc.loc[regions_names_list, :]

In [27]:
len(income_pc.index)

83

In [28]:
income_pc = income_pc.astype(float)

In [29]:
income_pc = income_pc.apply(lambda x: transform_round(x, 1))

##### <font color='#2A5899'>Check for Discrepancy: Income Per Capita</font>

In [30]:
income_pc[income_pc.isna().any(axis=1)].any().any()

False

##### <font color='#2A5899'>Final Results: Income Per Capita</font>

In [31]:
income_pc

                                2013                                    \
                           I квартал II квартал III квартал IV квартал
Российская Федерация         21800.0    24990.0     25529.0    30533.0
Алтайский край               12993.0    14568.0     15129.0    20785.0
Амурская область             20707.0    21476.0     22187.0    27455.0
Архангельская область        22072.0    25342.0     24363.0    29154.0
Астраханская область         16524.0    19600.0     20013.0    23768.0
...                              ...        ...         ...        ...
Челябинская область          19159.0    22004.0     21500.0    25282.0
Чеченская Республика         15742.0    17399.0     16784.0    23380.0
Чувашская Республика         12439.0    14986.0     15332.0    16311.0
Чукотский автономный округ   50547.0    54655.0     54356.0    62451.0
Ярославская область          17723.0    20560.0     19689.0    24689.0

                                         2014                         \
                                Год I квартал II квартал III квартал
Российская Федерация        25684.4   22457.0    27059.0     27965.0
Алтайский край              15895.6   13881.0    16806.0     18572.0
Амурская область            23035.8   19299.0    25524.0     27782.0
Архангельская область       25343.2   23607.0    31591.0     28886.0
Астраханская область        19950.0   18241.0    21592.0     22283.0
...                             ...       ...        ...         ...
Челябинская область         21971.2   19385.0    22873.0     23065.0
Чеченская Республика        18177.8   16920.0    18511.0     19214.0
Чувашская Республика        14787.6   13419.0    15746.0     16539.0
Чукотский автономный округ  55624.8   53552.0    60166.0     60464.0
Ярославская область         20664.5   18331.0    22930.0     22269.0

                                                ...      2022             \
                           IV квартал      Год  ... I квартал II квартал
Российская Федерация          32285.0  27412.4  ...   37136.0    44168.0
Алтайский край                23816.0  18290.9  ...   24457.0    30132.0
Амурская область              28848.0  25385.0  ...   37329.0    43565.0
Архангельская область         27958.0  28110.6  ...   42410.0    47370.0
Астраханская область          26008.0  21979.5  ...   25800.0    30011.0
...                               ...      ...  ...       ...        ...
Челябинская область           27051.0  23069.7  ...   27800.0    31762.0
Чеченская Республика          25061.0  19751.7  ...   24551.0    25104.0
Чувашская Республика          19771.0  16381.5  ...   21766.0    27616.0
Чукотский автономный округ    65634.0  59962.4  ...   95018.0   113498.0
Ярославская область           27857.0  22848.2  ...   30167.0    37124.0

                                                                 2023  \
                           III квартал IV квартал       Год I квартал
Российская Федерация           44689.0    53428.0   44937.0   41709.0
Алтайский край                 29699.0    39585.0   31142.0   29146.0
Амурская область               44095.0    53708.0   44891.0   40555.0
Архангельская область          46852.0    55684.0   48325.0   46690.0
Астраханская область           30343.0    37713.0   31084.0   29652.0
...                                ...        ...       ...       ...
Челябинская область            33635.0    38798.0   33068.0   31643.0
Чеченская Республика           32732.0    39697.0   30335.0   29322.0
Чувашская Республика           26783.0    32163.0   27206.0   25908.0
Чукотский автономный округ    114746.0   128812.0  113096.0  112290.0
Ярославская область            38350.0    45791.0   38032.0   34577.0


                           II квартал III квартал IV квартал  Год
Российская Федерация          47798.0         0.0        0.0  0.0
Алтайский край                34483.0         0.0        0.0  0.0
Амурская область              47360.0         0.0        0.0  0.0
Архангельская область         51202.0         0.0        0.0  0.0
Астраханская область          32926.0         0.0        0.0  0.0
...                               ...         ...        ...  ...
Челябинская область           35665.0         0.0        0.0  0.0
Чеченская Республика          28196.0         0.0        0.0  0.0
Чувашская Республика          31418.0         0.0        0.0  0.0
Чукотский автономный округ   131588.0         0.0        0.0  0.0
Ярославская область           40868.0         0.0        0.0  0.0

[83 rows x 55 columns]

In [32]:
# данные за 2 квартал
income_pc_2_q = get_data_two_level(income_pc, level1='II квартал')
income_pc_2_q.head()

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Российская Федерация,24990.0,27059.0,29723.0,30234.0,31307.0,32522.0,34673.0,33476.0,38645.0,44168.0,47798.0
Алтайский край,14568.0,16806.0,20370.0,19798.0,20838.0,21397.0,22585.0,22922.0,24834.0,30132.0,34483.0
Амурская область,21476.0,25524.0,28297.0,28437.0,29034.0,30424.0,32654.0,34627.0,37236.0,43565.0,47360.0
Архангельская область,25342.0,31591.0,32098.0,31639.0,32521.0,32909.0,34972.0,37778.0,39266.0,47370.0,51202.0
Астраханская область,19600.0,21592.0,23416.0,23340.0,23522.0,23870.0,24658.0,24084.0,25827.0,30011.0,32926.0

In [33]:
# two quartals for all years
get_data_two_level(income_pc, level1=['I квартал', 'II квартал']).head()

                           2013                 2014                 2015  \
                      I квартал II квартал I квартал II квартал I квартал
Российская Федерация    21800.0    24990.0   22457.0    27059.0   25364.0
Алтайский край          12993.0    14568.0   13881.0    16806.0   16951.0
Амурская область        20707.0    21476.0   19299.0    25524.0   25592.0
Архангельская область   22072.0    25342.0   23607.0    31591.0   28480.0
Астраханская область    16524.0    19600.0   18241.0    21592.0   21710.0

                                      2016                 2017             \
                      II квартал I квартал II квартал I квартал II квартал
Российская Федерация     29723.0   26646.0    30234.0   27763.0    31307.0
Алтайский край           20370.0   17153.0    19798.0   17961.0    20838.0
Амурская область         28297.0   26963.0    28437.0   27289.0    29034.0
Архангельская область    32098.0   28051.0    31639.0   29577.0    32521.0
Астраханская область     23416.0   20009.0    23340.0   19299.0    23522.0

                       ...      2019                 2020             \
                       ... I квартал II квартал I квартал II квартал
Российская Федерация   ...   30292.0    34673.0   32072.0    33476.0
Алтайский край         ...   19775.0    22585.0   20721.0    22922.0
Амурская область       ...   28894.0    32654.0   31751.0    34627.0
Архангельская область  ...   33090.0    34972.0   35723.0    37778.0
Астраханская область   ...   21713.0    24658.0   23040.0    24084.0

                           2021                 2022                 2023  \
                      I квартал II квартал I квартал II квартал I квартал
Российская Федерация    32981.0    38645.0   37136.0    44168.0   41709.0
Алтайский край          20949.0    24834.0   24457.0    30132.0   29146.0
Амурская область        30887.0    37236.0   37329.0    43565.0   40555.0
Архангельская область   35311.0    39266.0   42410.0    47370.0   46690.0
Астраханская область    22810.0    25827.0   25800.0    30011.0   29652.0


                      II квартал
Российская Федерация     47798.0
Алтайский край           34483.0
Амурская область         47360.0
Архангельская область    51202.0
Астраханская область     32926.0

[5 rows x 22 columns]

In [34]:
# two quartals for manual years
get_data_two_level(income_pc, level0=['2013', '2014'], level1=['I квартал', 'II квартал']).head()

                           2013                 2014
                      I квартал II квартал I квартал II квартал
Российская Федерация    21800.0    24990.0   22457.0    27059.0
Алтайский край          12993.0    14568.0   13881.0    16806.0
Амурская область        20707.0    21476.0   19299.0    25524.0
Архангельская область   22072.0    25342.0   23607.0    31591.0
Астраханская область    16524.0    19600.0   18241.0    21592.0

In [35]:
# first quartal of 2013 year
get_data_two_level(income_pc, level0='2013', level1='I квартал').head()

                          2013
Российская Федерация   21800.0
Алтайский край         12993.0
Амурская область       20707.0
Архангельская область  22072.0
Астраханская область   16524.0

In [36]:
get_data_two_level(income_pc, level0=['2013', '2014'], level1='I квартал').head()

                          2013     2014
Российская Федерация   21800.0  22457.0
Алтайский край         12993.0  13881.0
Амурская область       20707.0  19299.0
Архангельская область  22072.0  23607.0
Астраханская область   16524.0  18241.0

##### <font color='#AF4035'> Export Dataset to Excel

In [37]:
saveit_excel(
    data=income_pc,
    filename=dir,
    path=save_excel,
    sheet='Среднедушевые доходы'
)

'Среднедушевые доходы' sheet created if file '01020101-SOL-Income.xlsx'

### 3.2. Реальные денежные доходы населения по субъектам Российской Федерации (новая методология)

*Источник: https://rosstat.gov.ru/folder/13397*

#### <font color='#2A5899'>Income Per Capita Real</font>

In [38]:
income_pc_real_link = \
    'data/02-Population/02-Standard-of-living/01-Income/' \
    'Urov_11subg-nm.xlsx'

In [39]:
income_pc_real_raw = pd.read_excel(income_pc_real_link)

In [40]:
income_pc_real_raw

,"Реальные денежные доходы населения по субъектам Российской федерации, \nв % к соответствующему периоду *",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,(в соответствии с Методологическими положениям...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2014 год,NaN,NaN,NaN,NaN,2015 год,NaN,NaN,NaN,...,2022 год**,NaN,NaN,NaN,NaN,2023 год**,NaN,NaN,NaN,NaN
3,NaN,I квартал,II квартал,III квартал,IV квартал,2014 год,I квартал,II квартал,III квартал,IV квартал,...,I квартал,II квартал,III квартал,IV квартал,2022 год,I квартал,II квартал,III квартал,IV квартал,2023 год
4,Российская Федерация,97,100.9,102,96.7,99.202628,98.6,96.1,93.9,97.6,...,101.5,98.3,95.7,99.4,98.5,103,105,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Сахалинская область,94.6,108.4,113.9,96.8,103.3,105.2,99.5,93,109.8,...,98.3,96.2,97,99.8,97.9,102.2,104.2,NaN,NaN,NaN
102,Еврейская авт.область,102.2,94,100.7,95.2,97.7,96.4,96.5,92.3,90.2,...,97.4,94.7,92.7,101.4,96.8,109,104.7,NaN,NaN,NaN
103,Чукотский авт.округ,100.3,103.4,106.4,100.6,102.597453,102.6,98.3,92,96.1,...,95.5,102.3,107,107.1,103.3,111.3,109.8,NaN,NaN,NaN
104,* Без учета статистической информации по Донец...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,** Предварительные данные,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
income_pc_real = income_pc_real_raw.iloc[:-2, :].copy()

In [42]:
# transform year from '2013 год' to '2013'
income_pc_real = transform_strings_in_row(
    income_pc_real, 2, ' год', where='end')

In [43]:
# fill values '-' by row in header rows
income_pc_real = transform_fill_values_by_previous(income_pc_real, row_index=2)

In [44]:
# replace '2013 год' by 'Год'
income_pc_real = transform_string_replace_if_contains(
    income_pc_real, row_index=3, contains='год', replace='Год')

In [45]:
# make header from two rows
income_pc_real = transform_make_header_from_rows(
    income_pc_real, rows_index=[2,3], names=['Год', 'Квартал'])

In [46]:
# cut rows
income_pc_real = income_pc_real.drop([0, 1], axis=0)

In [47]:
# make column as index
income_pc_real = transform_column_as_index(data=income_pc_real, iloc=0)

In [48]:
# combine duplicates
income_pc_real = merge_two(
    how='index',
    data=income_pc_real,
    col1='Дальневосточный федеральный округ (до 2019г.)',
    col2='Дальневосточный федеральный округ (с 2019г.)',
    col_new='Дальневосточный федеральный округ'
)

In [49]:
income_pc_real = merge_two(
    how='index',
    data=income_pc_real,
    col1='Сибирский федеральный округ (до 2019г.)',
    col2='Сибирский федеральный округ (с 2019г.)',
    col_new='Сибирский федеральный округ'
)

In [50]:
income_pc_real = merge_two_similar('index', income_pc_real, 'Забайкальский край')
income_pc_real = merge_two_similar('index', income_pc_real, 'Республика Бурятия')

In [51]:
income_pc_real.index = [i.strip() for i in income_pc_real.index]

In [52]:
# normalize region names
income_pc_real.index = (income_pc_real
                   .index.to_series()
                   .replace(regions_replace_dict))

In [53]:
# cut unnesessary regions (as indexes of df)
drop_list_2112 = regions_drop_list + federal_districts_names_list
income_pc_real = transform_cut_with_list(
    income_pc_real, drop_list_2112, type='index', kind='drop')

In [54]:
income_pc_real.columns.names = (None, None)

In [55]:
len(income_pc_real.index)

83

In [56]:
# round
for column in income_pc_real.columns:
    try:
        income_pc_real[column] = income_pc_real[column].astype(float).round(1)
    except ValueError:
        pass

##### <font color='#2A5899'>Check for Discrepancy: Income Real Per Capita</font>

In [57]:
income_pc_real[income_pc_real.isna().any(axis=1)].any().any()

False

##### <font color='#2A5899'>Final Results: Income Real Per Capita</font>

In [58]:
income_pc_real.head()

                          2014                                           \
                     I квартал II квартал III квартал IV квартал    Год
Российская Федерация      97.0      100.9       102.0       96.7   99.2
Белгородская область      95.5       95.6       104.6      100.7   99.3
Брянская область          95.3      101.7       106.3       96.0  100.0
Владимирская область      95.4      103.0        96.4       97.0   98.0
Воронежская область      105.5      105.4       111.1      101.7  105.8

                          2015                                           ...  \
                     I квартал II квартал III квартал IV квартал    Год  ...
Российская Федерация      98.6       96.1        93.9       97.6   96.4  ...
Белгородская область     104.3       98.2        96.2       99.8   99.3  ...
Брянская область          96.1       96.5        98.6       96.7   97.0  ...
Владимирская область     107.2       94.7        98.2       99.7   99.5  ...
Воронежская область      110.0      102.3       102.5       93.2  101.1  ...

                          2022                                          \
                     I квартал II квартал III квартал IV квартал   Год
Российская Федерация     101.5       98.3        95.7       99.4  98.5
Белгородская область     100.0       99.9        96.7      102.0  99.7
Брянская область          99.8       98.0        92.9       97.0  96.8
Владимирская область      98.8       97.4        96.1      100.2  98.1
Воронежская область       95.0       98.1        96.4      100.7  97.7

                          2023
                     I квартал II квартал III квартал IV квартал  Год
Российская Федерация     103.0      105.0         0.0        0.0  0.0
Белгородская область     104.7      105.8         0.0        0.0  0.0
Брянская область         102.1      105.2         0.0        0.0  0.0
Владимирская область     102.4      107.8         0.0        0.0  0.0
Воронежская область      104.2      108.8         0.0        0.0  0.0

[5 rows x 50 columns]

##### <font color='#AF4035'> Export Dataset to Excel

In [59]:
saveit_excel(
    data=income_pc_real,
    filename=dir,
    path=save_excel,
    sheet='Реальные доходы'
)

'Реальные доходы' sheet created if file '01020101-SOL-Income.xlsx'

### 3.3. Объем и структура денежных доходов населения Российской Федерации по источникам поступления (новая методология)

*Источник: https://rosstat.gov.ru/folder/13397*  
*Единицы измерения: млрд. руб.*

#### <font color='#2A5899'>Income Structure</font>

In [60]:
income_structure_link = \
    'data/02-Population/02-Standard-of-living/01-Income/' \
    'urov_13kv_nm.xlsx'

In [61]:
income_structure_raw = pd.read_excel(income_structure_link)

In [62]:
income_structure_raw.head(10)

,Объем и структура денежных доходов населения Российской Федерации по источникам поступления1),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,(в соответствии с Методологическими положениям...,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Всего денежных доходов, млрд.рублей",в том числе в процентах:,NaN,NaN,NaN,NaN
2,NaN,NaN,доходы от предпринимательской и другой произво...,оплата труда наемных работников,социальные выплаты,доходы от,прочие
3,NaN,NaN,NaN,NaN,NaN,собствен-,денежные
4,NaN,NaN,NaN,NaN,NaN,ности,поступления
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013 год,NaN,NaN,NaN,NaN,NaN,NaN
7,1 квартал,9374.904,7.018397,57.4,18.5,3.826877,13.3
8,2 квартал,10746.921,6.579522,57.260894,18.9,4.731169,12.474326
9,3 квартал,10978.406,6.894425,54.978883,18.414376,4.796543,14.915772

In [63]:
income_structure_columns = [
    'Млрд. руб.', 'Суммарные доходы', 'Предпринимательство, производство', 'Оплата труда',
    'Социальные выплаты', 'Доходы от собственности', 'Прочее'
]

In [64]:
income_structure = income_structure_raw.copy()

In [65]:
income_structure.columns = income_structure_columns

In [66]:
# cut rows
income_structure = transform_cut_rows(income_structure, 6, 3)

In [67]:
# clean column with year and quarters
income_structure['Млрд. руб.'] = income_structure['Млрд. руб.'].apply(lambda x: x.replace(' год', ''))
income_structure['Млрд. руб.'] = income_structure['Млрд. руб.'].apply(lambda x: x.replace('1)', ''))
income_structure['Млрд. руб.'] = income_structure['Млрд. руб.'].apply(lambda x: x.replace('2)', ''))
income_structure['Млрд. руб.'] = income_structure['Млрд. руб.'].apply(lambda x: x.replace('3)', ''))

In [68]:
# clean it to remove possible spaces in values 'Год'
income_structure['Млрд. руб.'] = \
    (income_structure['Млрд. руб.']
     .apply(lambda x: transform_string_replace_value_if_contains(x, 'Год', 'Год')))

income_structure['Млрд. руб.'] = \
    (income_structure['Млрд. руб.']
     .apply(lambda x: transform_string_replace_value_if_contains(
         x, ['1', 'квартал'], 'I квартал', full_list=True)))

income_structure['Млрд. руб.'] = \
    (income_structure['Млрд. руб.']
     .apply(lambda x: transform_string_replace_value_if_contains(
         x, ['2', 'квартал'], 'II квартал', full_list=True)))

income_structure['Млрд. руб.'] = \
    (income_structure['Млрд. руб.']
     .apply(lambda x: transform_string_replace_value_if_contains(
         x, ['3', 'квартал'], 'III квартал', full_list=True)))

income_structure['Млрд. руб.'] = \
    (income_structure['Млрд. руб.']
     .apply(lambda x: transform_string_replace_value_if_contains(
         x, ['4', 'квартал'], 'IV квартал', full_list=True)))

In [69]:
# create column for index level0
income_structure['index'] = income_structure['Млрд. руб.'].copy()

In [70]:
# clean it
income_structure['index'] = \
    (income_structure['index']
     .apply(lambda x: transform_string_replace_value_if_contains(x, ['квартал', 'Год'], np.nan, full_list=False)))

In [71]:
income_structure = transform_fill_values_by_previous(
    income_structure, kind='column', column_name='index')

In [72]:
income_structure = income_structure.dropna()

In [73]:
income_structure = income_structure.set_index(
    [income_structure['index'], income_structure['Млрд. руб.']])
income_structure.index.names = (None, None)
income_structure = income_structure.drop(['index', 'Млрд. руб.'], axis=1)

In [74]:
# round
for column in income_structure.columns:
    try:
        income_structure[column] = income_structure[column].astype(float).round(1)
    except ValueError:
        pass

##### <font color='#2A5899'>Check for Discrepancy: Income Structure Per Capita</font>

In [75]:
income_structure[income_structure.isna().any(axis=1)].any().any()

False

##### <font color='#2A5899'>Final Results: Income Structure Per Capita</font>

In [76]:
income_structure.T

                                       2013                                    \
                                  I квартал II квартал III квартал IV квартал
Суммарные доходы                     9374.9    10746.9     10978.4    13130.4
Предпринимательство, производство       7.0        6.6         6.9        7.5
Оплата труда                           57.4       57.3        55.0       51.8
Социальные выплаты                     18.5       18.9        18.4       19.0
Доходы от собственности                 3.8        4.7         4.8        5.1
Прочее                                 13.3       12.5        14.9       16.6

                                                2014                         \
                                       Год I квартал II квартал III квартал
Суммарные доходы                   44230.6    9679.0    11662.6     12052.8
Предпринимательство, производство      7.0       7.5        6.3         6.7
Оплата труда                          55.1      59.6       55.9        52.4
Социальные выплаты                    18.7      17.1       18.8        18.3
Доходы от собственности                4.7       4.1        4.5         4.5
Прочее                                14.5      11.7       14.5        18.1

                                                       ...        2021  \
                                  IV квартал      Год  ... III квартал
Суммарные доходы                     13914.8  47309.2  ...     18013.8
Предпринимательство, производство        7.5      7.0  ...         5.8
Оплата труда                            52.8     54.9  ...        54.5
Социальные выплаты                      18.5     18.2  ...        22.5
Доходы от собственности                  5.7      4.8  ...         5.5
Прочее                                  15.5     15.1  ...        11.7

                                                           2022             \
                                  IV квартал      Год I квартал II квартал
Суммарные доходы                     21124.7  70547.6   16374.9    19475.2
Предпринимательство, производство        5.5      5.7       6.3        6.7
Оплата труда                            54.5     57.2      64.2       56.2
Социальные выплаты                      19.6     20.6      19.8       20.6
Доходы от собственности                  6.7      5.7       4.4        4.3
Прочее                                  13.7     10.8       5.3       12.2

                                                                       2023  \
                                  III квартал IV квартал      Год I квартал
Суммарные доходы                      19705.3    23558.6  79113.9   18324.3
Предпринимательство, производство         6.6        5.8      6.3       7.3
Оплата труда                             56.3       54.4     57.4      64.9
Социальные выплаты                       22.6       20.5     20.9      18.6
Доходы от собственности                   5.9        6.2      5.3       4.1
Прочее                                    8.6       13.1     10.1       5.1


                                  II квартал
Суммарные доходы                     20999.8
Предпринимательство, производство        6.6
Оплата труда                            58.5
Социальные выплаты                      19.4
Доходы от собственности                  4.0
Прочее                                  11.5

[6 rows x 52 columns]

In [77]:
get_data_two_level(income_structure.T, level1='Год')

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Суммарные доходы,44230.6,47309.2,53153.2,54325.2,56205.1,58781.5,62531.7,63692.0,70547.6,79113.9
"Предпринимательство, производство",7.0,7.0,6.5,6.4,6.3,6.1,5.9,5.2,5.7,6.3
Оплата труда,55.1,54.9,52.8,54.0,55.1,57.1,57.3,57.2,57.2,57.4
Социальные выплаты,18.7,18.2,18.2,18.8,19.3,19.0,18.8,21.4,20.6,20.9
Доходы от собственности,4.7,4.8,5.1,5.1,4.6,4.6,5.1,5.8,5.7,5.3
Прочее,14.5,15.1,17.4,15.7,14.7,13.2,12.9,10.4,10.8,10.1

##### <font color='#AF4035'> Export Dataset to Excel

In [78]:
saveit_excel(
    data=income_structure,
    filename=dir,
    path=save_excel,
    sheet='Структура доходов'
)

'Структура доходов' sheet created if file '01020101-SOL-Income.xlsx'

### 3.4. Реальные располагаемые денежные доходы населения по Российской Федерации (новая методология)

*Источник: https://rosstat.gov.ru/folder/13397*  
*Единицы измерения: млрд. руб.*

#### <font color='#2A5899'>Income Real Index</font>

In [79]:
income_real_link = \
    'data/02-Population/02-Standard-of-living/01-Income/' \
    'urov_12kv_nm.xlsx'

In [80]:
income_real_raw = pd.read_excel(income_real_link)

/Users/a.chasovsky/Data Science Environments/pers_economics_rus/_venv_pers_economics_rus/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [81]:
income_real_raw.head(10)

,РЕАЛЬНЫЕ РАСПОЛАГАЕМЫЕ ДЕНЕЖНЫЕ ДОХОДЫ НАСЕЛЕНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ1),Unnamed: 1,Unnamed: 2
0,(в соответствии с Методологическими положениям...,NaN,NaN
1,NaN,в % к,NaN
2,NaN,соответствующему периоду прошлого года,предыдущему периоду
3,2014 год,NaN,NaN
4,1 квартал,95.8,71.7
5,2 квартал,100.8,118.4
6,3 квартал,101.8,101.7
7,4 квартал,96.5,111.8
8,Год,98.8,NaN
9,2015 год,NaN,NaN

In [82]:
income_real_raw.tail(10)

,РЕАЛЬНЫЕ РАСПОЛАГАЕМЫЕ ДЕНЕЖНЫЕ ДОХОДЫ НАСЕЛЕНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ1),Unnamed: 1,Unnamed: 2
54,3 квартал,94.7,100
55,4 квартал 4),99.8,118.8
56,Год 4),99,NaN
57,2023 год 3),NaN,NaN
58,1 квартал 4),104.35,78.1
59,2 квартал 4),105.3,113.5
60,1) c 2015 г. – включая данные по Республике ...,NaN,NaN
61,2) в целях обеспечения статистической сопоста...,NaN,NaN
62,3) за периоды 2022 г. - предварительные данны...,NaN,NaN
63,4) без учета статистической информации по Д...,NaN,NaN

In [83]:
income_real_columns = [
    'index1', 'К периоду прошлого года', 'К предыдущему периоду']

In [84]:
income_real = income_real_raw.copy()

In [85]:
income_real.columns = income_real_columns

In [86]:
# cut rows
income_real = transform_cut_rows(income_real, 3, 4)

In [87]:
income_real_replace = ['1)', '2)', '3)', '4)', ' год']

for i in income_real_replace:
    income_real['index1'] = income_real['index1'].apply(lambda x: x.replace(i, ''))

In [88]:
for i in income_real_replace:
    income_real['К периоду прошлого года'] = \
        income_real['К периоду прошлого года'].apply(lambda x: str(x).replace(i, ''))

In [89]:
income_real['К периоду прошлого года'] = \
    income_real['К периоду прошлого года'].apply(lambda x: x.replace(',', '.'))

In [90]:
for i in income_real.index:
    if pd.notna(income_real.loc[i, 'К периоду прошлого года']):
        income_real.loc[i, 'К периоду прошлого года'] = \
            float(income_real.loc[i, 'К периоду прошлого года'])

In [91]:
for i in income_real_replace:
    income_real['К предыдущему периоду'] = \
        income_real['К предыдущему периоду'].apply(lambda x: str(x).replace(i, ''))

In [92]:
income_real['К предыдущему периоду'] = \
    income_real['К предыдущему периоду'].apply(lambda x: str(x).replace(',', '.'))

In [93]:
for i in income_real.index:
    if pd.notna(income_real.loc[i, 'К предыдущему периоду']):
        income_real.loc[i, 'К предыдущему периоду'] = \
            float(income_real.loc[i, 'К предыдущему периоду'])

In [94]:
# create column for index level0
income_real['index0'] = income_real['index1'].copy()

In [95]:
# clean it
income_real['index0'] = \
    (income_real['index1']
     .apply(lambda x: transform_string_replace_value_if_contains(x, ['квартал', 'Год'], np.nan)))

In [96]:
income_real = transform_fill_values_by_previous(
    income_real, kind='column', column_name='index0')

In [97]:
for i in income_real.index:
    if ((pd.isna(income_real.loc[i, 'К периоду прошлого года'])) &
        (pd.isna(income_real.loc[i, 'К предыдущему периоду']))):
            income_real = income_real.drop(i, axis=0)

In [98]:
income_real = income_real.set_index(
    [income_real['index0'], income_real['index1']])
income_real.index.names = (None, None)
income_real = income_real.drop(['index0', 'index1'], axis=1)

In [99]:
# round
for column in income_real.columns:
    try:
        income_real[column] = income_real[column].astype(float).round(1)
    except ValueError:
        pass

##### <font color='#2A5899'>Check for Discrepancy: Income Real</font>

In [100]:
income_real[income_real.isna().any(axis=1)].any().any()

True

In [101]:
income_real[income_real.isna().any(axis=1)]

            К периоду прошлого года  К предыдущему периоду
2014  Год                      98.8                    NaN
2015  Год                      97.6                    NaN
2016  Год                      95.5                    NaN
2017  Год                      99.5                    NaN
2018  Год                     100.7                    NaN
2019  Год                     101.2                    NaN
2020  Год                      98.0                    NaN
2021  Год                     103.3                    NaN
2022  Год                      99.0                    NaN

##### <font color='#2A5899'>Final Results: Income Real</font>

In [102]:
income_real.head()

                К периоду прошлого года  К предыдущему периоду
2014 1 квартал                     95.8                   71.7
     2 квартал                    100.8                  118.4
     3 квартал                    101.8                  101.7
     4 квартал                     96.5                  111.8
     Год                           98.8                    NaN

##### <font color='#AF4035'> Export Dataset to Excel

In [103]:
saveit_excel(
    data=income_real,
    filename=dir,
    path=save_excel,
    sheet='Реальные доходы (нов. метод)'
)

'Реальные доходы (нов. метод)' sheet created if file '01020101-SOL-Income.xlsx'

### 3.5. Структура использования денежных доходов населения Российской Федерации (новая методология)

*Источник: https://rosstat.gov.ru/folder/13397*  
*Единицы измерения: млрд. руб.*

#### <font color='#2A5899'>Income Structure Use</font>

In [104]:
income_structure_use_link = \
    'data/02-Population/02-Standard-of-living/01-Income/' \
    'urov_14kv_nm.xlsx'

In [105]:
income_structure_use_raw = pd.read_excel(income_structure_use_link)

/Users/a.chasovsky/Data Science Environments/pers_economics_rus/_venv_pers_economics_rus/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [106]:
income_structure_use_raw.head(10)

,Структура использования денежных доходов населения Российской Федерации1),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,(в соответствии с Методологическими положениям...,NaN,NaN,NaN,NaN,NaN
1,NaN,"Всего использовано доходов, %",в том числе в процентах,NaN,NaN,NaN
2,NaN,NaN,Покупка товаров \nи оплата услуг,"Оплата обязательных платежей, взносов \nи проч...","Прирост (+), уменьшение (-) сбережений населения","Прирост (+), уменьшение (-) наличных денег на..."
3,2013 год,NaN,NaN,NaN,NaN,NaN
4,1 квартал,100,85.1,14.4,3.9,-3.4
5,2 квартал,100.0,80.4,14.9,3.5,1.2
6,3 квартал,100,84.5,15.2,0.8,-0.5
7,4 квартал,100.0,75.1,14.8,6.1,4
8,Год,100.0,80.8,14.8,3.8,0.6
9,2014 год,NaN,NaN,NaN,NaN,NaN

In [107]:
income_structure_use_raw.tail(10)

,Структура использования денежных доходов населения Российской Федерации1),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
59,2 квартал,100,76,13.6,13.7,-3.3
60,3 квартал,100,79,15.7,0.4,4.9
61,4 квартал 3),100.0,70.1,15.6,12.3,2
62,Год 3),100,78.2,15,4.7,2.1
63,2023 год2),NaN,NaN,NaN,NaN,NaN
64,1 квартал 3),100,85.5,13.5,0,1
65,2 квартал 3),100,79.6,12.89,7.2,0.3
66,1) с 2015 г. – включая данные по Республике К...,NaN,NaN,NaN,NaN,NaN
67,2) за периоды 2022 г. - предварительные данные...,NaN,NaN,NaN,NaN,NaN
68,3) без учета статистической информации по Доне...,NaN,NaN,NaN,NaN,NaN

In [108]:
income_structure_use_columns = [
    'index1', 'Суммарные доходы', 'Товары и услуги',
    'Обязательные платежи', 'Сбережения', 'Наличные']

In [109]:
income_structure_use = income_structure_use_raw.copy()

In [110]:
income_structure_use.columns = income_structure_use_columns

In [111]:
# cut rows
income_structure_use = transform_cut_rows(income_structure_use, 3, 3)

In [112]:
income_structure_use_replace = ['1)', '2)', '3)', '4)', ' год']

In [113]:
for i in income_structure_use_replace:
    income_structure_use['index1'] = income_structure_use['index1'].apply(lambda x: x.replace(i, ''))

In [114]:
for column in income_structure_use.columns:
    for i in income_structure_use_replace:
        income_structure_use[column] = \
            income_structure_use[column].apply(lambda x: x.replace(i, '') if isinstance(x, str) else x)

In [115]:
# create column for index level0
income_structure_use['index0'] = income_structure_use['index1'].copy()

In [116]:
# clean it
income_structure_use['index0'] = \
    (income_structure_use['index1']
     .apply(lambda x: transform_string_replace_value_if_contains(x, ['квартал', 'Год'], np.NaN)))

In [117]:
income_structure_use = transform_fill_values_by_previous(
    income_structure_use, kind='column', column_name='index0')

In [118]:
income_structure_use = transform_ckeck_index_column(
    data=income_structure_use,
    column='index1',
    contains_list = [
        ['1', 'квартал'], ['2', 'квартал'],
        ['3', 'квартал'], ['4', 'квартал'], ['Год']
    ],
    replace_values_list = [
        'I квартал', 'II квартал', 'III квартал', 'IV квартал', 'Год'
    ]
)

In [119]:
# drop year with NaNs
for i in income_structure_use.index:
    if pd.isna(income_structure_use.loc[i, :]).sum() > 2:
        income_structure_use = income_structure_use.drop(i, axis=0)

In [120]:
income_structure_use = income_structure_use.set_index(
    [income_structure_use['index0'], income_structure_use['index1']])
income_structure_use.index.names = (None, None)
income_structure_use = income_structure_use.drop(['index0', 'index1'], axis=1)

In [121]:
income_structure_use['Суммарные доходы'] = 100

In [122]:
# round
for column in income_structure_use.columns:
    income_structure_use[column] = income_structure_use[column].astype(float).round(2)

##### <font color='#2A5899'>Check for Discrepancy: Income Real</font>

In [123]:
income_structure_use[income_structure_use.isna().any(axis=1)].any().any()

False

##### <font color='#2A5899'>Final Results: Income Real</font>

In [124]:
income_structure_use.head(10)

                  Суммарные доходы  Товары и услуги  Обязательные платежи  \
2013 I квартал               100.0             85.1                  14.4
     II квартал              100.0             80.4                  14.9
     III квартал             100.0             84.5                  15.2
     IV квартал              100.0             75.1                  14.8
     Год                     100.0             80.8                  14.8
2014 I квартал               100.0             90.0                  15.6
     II квартал              100.0             80.1                  14.9
     III квартал             100.0             82.8                  15.4
     IV квартал              100.0             77.5                  15.2
     Год                     100.0             82.0                  15.3

                  Сбережения  Наличные
2013 I квартал           3.9      -3.4
     II квартал          3.5       1.2
     III квартал         0.8      -0.5
     IV квартал          6.1       4.0
     Год                 3.8       0.6
2014 I квартал          -5.6       0.0
     II квартал          3.3       1.7
     III квартал        -0.3       2.1
     IV квартал          2.4       4.9
     Год                 0.3       2.4

##### <font color='#AF4035'> Export Dataset to Excel

In [125]:
saveit_excel(
    data=income_structure_use,
    filename=dir,
    path=save_excel,
    sheet='Структура использования доходов'
)

'Структура использования доходов' sheet created if file '01020101-SOL-Income.xlsx'

### Save Datasets

In [126]:
economics_data['3.1'] = income_pc

In [127]:
economics_data['3.2'] = income_pc_real

In [128]:
economics_data['3.3'] = income_structure

In [129]:
economics_data['3.4'] = income_real

In [130]:
economics_data['3.5'] = income_structure_use

In [131]:
saveit(
    file=economics_data,
    name='economics_data',
    dir=save_df
)

File 'economics_data' saved in directory 'data/00-Datasets/'

### Save Session

In [132]:
save_session(dir)

### Execution time

In [133]:
print(f'Execution time: {stopwatch.stop(start)}')

Execution time: 0:00:19